@import 'variables';

.productImage {
  width: 90%;
  height: auto;
}

li {
  width: 30%;
  height: auto;
  display:inline-block;
  margin: 10px auto 10px 10px;
  padding-left: 10px;
}

h3 {
  padding-bottom: 20px;
}

h2 {
  padding: 20px;
}

.products {
  padding-bottom: 50px;
}

.cartNum {
  width: 25px;
  height: 25px;
  text-align: center;
  position: absolute;
  left: 68.5%;
  top: 95px;
  font-size: 20px;
  color: $white;
  background: $support-red;
  border-radius: 50%;
}

button {
  background:$support-blue;
  width: 100px;
  height: 25px;
  color: $white;
  text-align: center;
  border: none;

}

button:focus {
  outline: none;
  background:$second-blue;
}