@import 'variables';

.productImage {
  width: 90%;
  height: auto;
}

li {
  width: 30%;
  height: auto;
  display:inline-block;
  margin: 10px auto 10px 10px;
  padding-left: 10px;
}

h3 {
  padding-bottom: 20px;
}

h2 {
  padding: 20px;
}

.products {
  padding-bottom: 50px;
}

.cartNum {
  position: absolute;
  left: 68.5%;
  top: 95px;
  font-size: 20px;
  color: $white;
  background: $support-red;
}