@import 'variables';

.productImage {
  width: 80%;
  height: auto;
}

li {
  width: 30%;
  height: auto;
  display:inline-block;
  margin: 10px auto 10px 10px;
  padding-left: 10px;
}

h3 {
  padding-bottom: 20px;
}